<div style="width: 70%;margin: 40px auto;">
    <h1>LISTA DETALLE DE POLIZAS</h1>

    <button mat-raised-button (click)="openDialog()" color="primary">CREAR</button>

    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
            <!-- Position Column -->
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="Poliza">
            <th mat-header-cell *matHeaderCellDef> Poliza </th>
            <td mat-cell *matCellDef="let element"> {{element.poliza.nombre}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="Cobertura">
            <th mat-header-cell *matHeaderCellDef> Cobertura </th>
            <td mat-cell *matCellDef="let element"> {{element.cobertura.nombre}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="MontoAsegurado">
            <th mat-header-cell *matHeaderCellDef> Monto Asegurado </th>
            <td mat-cell *matCellDef="let element"> {{element.montoAsegurado}} </td>
          </ng-container>
 
          <!-- Symbol Column -->
          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef style="width: 80px;"> ACCIONES </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="openEditDialog(element)" color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon color="primary">edit</mat-icon>                   
                </button>
                <button mat-icon-button (click)="openDeleteDialog(element)" color="primary" aria-label="Example icon button with a home icon">
                  <mat-icon color="warn">delete</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons 
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      
</div>