<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()" style="font-size: 30px;">menu</mat-icon>
        </button>
        <a routerLink="" class="custom-list-item">
            <h1>Chellenge Jr Frontend Angular (Ko Alejandro)</h1>
        </a>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="true" class="custom-sidenav">
        <div class="custom-sidenav-container">
            <mat-nav-list class="custom-nav-list">
                <a mat-list-item class="custom-list-item" routerLink="">DetallePolizas</a>
                <a mat-list-item class="custom-list-item" routerLink="/coberturas">Coberturas</a>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


